layout: index
description: 基于 Laravel 5.5 开发的开源 Web 自动部署系统
subtitle: 基于 Laravel 5.5 开发的开源 Web 自动部署系统
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 支持多语言
      p.intro-feature-desc 支持PHP、Python、JAVA、Ruby等项目的发布。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title 可灵活配置自定义部署步骤
      p.intro-feature-desc 支持项目的多环境部署(可自行建立开发、测试、预发布和生产等多个环境)、联动部署
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title 服务管理支持机柜功能
      p.intro-feature-desc 机柜可与多个部署环境绑定
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 支持代码托管平台进行集成
      p.intro-feature-desc 支持Gitlab、Github、Gogs、Gitee(Oschina)等代码托管平台进行集成